<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filterClass</key>
		<string>GPUImageFilter</string>
		<key>filterName</key>
		<string>原图</string>
		<key>filterImage</key>
		<string>原图</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L01</string>
		<key>filterImage</key>
		<string>L01</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L02</string>
		<key>filterImage</key>
		<string>L02</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L03</string>
		<key>filterImage</key>
		<string>L03</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L04</string>
		<key>filterImage</key>
		<string>L04</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L05</string>
		<key>filterImage</key>
		<string>L05</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L06</string>
		<key>filterImage</key>
		<string>L06</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L07</string>
		<key>filterImage</key>
		<string>L07</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L08</string>
		<key>filterImage</key>
		<string>L08</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L09</string>
		<key>filterImage</key>
		<string>L09</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L10</string>
		<key>filterImage</key>
		<string>L10</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L11</string>
		<key>filterImage</key>
		<string>L11</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L12</string>
		<key>filterImage</key>
		<string>L12</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L13</string>
		<key>filterImage</key>
		<string>L13</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L14</string>
		<key>filterImage</key>
		<string>L14</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L15</string>
		<key>filterImage</key>
		<string>L15</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L16</string>
		<key>filterImage</key>
		<string>L16</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L17</string>
		<key>filterImage</key>
		<string>L17</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L18</string>
		<key>filterImage</key>
		<string>L18</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L19</string>
		<key>filterImage</key>
		<string>L19</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L20</string>
		<key>filterImage</key>
		<string>L20</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L21</string>
		<key>filterImage</key>
		<string>L21</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L22</string>
		<key>filterImage</key>
		<string>L22</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>filterClass</key>
		<string>GPUImageToneCurveFilter</string>
		<key>filterName</key>
		<string>L23</string>
		<key>filterImage</key>
		<string>L23</string>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
