<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>colorName</key>
		<string>#FFFFFF</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#CCCCCC</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#807F80</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#000000</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#F9E1F0</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#EA427F</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#EA3444</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#EB6F49</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#F8D748</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#FDF5BE</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#FEFE54</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#BBFC4F</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#3C8730</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#C2D1B3</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#CCE9FF</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#4EB6FF</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#1179DF</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#424CCC</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#8C71FF</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#CC66FF</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#8A2C9C</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>colorName</key>
		<string>#3C0066</string>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
