<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontName</key>
		<string>default</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontName</key>
		<string>STZhongsong</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontName</key>
		<string>DFPShaoNvW5</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontName</key>
		<string>ShouShuti</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontName</key>
		<string>YRDZST-Extralight</string>
		<key>isSelected</key>
		<false/>
	</dict>
	<dict>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontName</key>
		<string>DINCondensed-Bold</string>
		<key>isSelected</key>
		<false/>
	</dict>
</array>
</plist>
